<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes">
    <title>Chat Bot UI/UX & html for web Plugin | Css3 Transition </title>
    <meta name="description" content="Chat Bot UI/UX & html for web" />
    <meta name="keywords" content="Chat Bot Chatbot Diego Efu Diego F" />
    <meta name="author" content="css3transition" />
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="description" content="Test ChatBot DiegoEfu" />
    <meta name="keywords" content="Test ChatBot DiegoEfu" />
    <meta name="abstract" content="Test ChatBot DiegoEfu">
    <meta name="author" content="Rahul Yaduvanshi">
    <meta name="technologies" content="HTML5, CSS3, HTML, CSS, JQUERY, Bootstrap">
    <meta name="distribution" content="Global">
    <meta name="development" content="Diego Faria">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="city" content="Los Puertos de Altagracia">
    <meta name="country" content="Venezuela">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/select2.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/chatBot.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/timeline.css')}}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="chat-screen">
    <div class="chat-header">
        <div class="chat-header-title">
            ¡Habla conmigo!
        </div>
    </div>
    <div class="chat-mail">
        <div class="row">
            <div class="col-md-12 text-center mb-2">
                <p>¡Hola 👋! Por favor llena el formulario para hablar con nuestro chat bot.</p>
            </div>
        </div>
        <form id="info-chat-bot-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" required class="form-control" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="email" required class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" id="iniciar-chat" class="btn btn-primary btn-rounded btn-block">¡Hablemos!</button>
                </div>
            </div>
        </form>
    </div>
    <div class="chat-body hide">
        <div class="chat-start">Lunes 26/02/2024, 10:00 AM</div>
        <div class="chat-bubble you">¡Hola! Soy Diego (versión IA). Soy un chatbot. ¡Responderé tus preguntas!</div>
    </div>
    <div class="chat-input hide">
        <form id="chatbot-form">
            <input type="text" placeholder="Escribe aquí..." id="message">
            <div class="input-action-icon">
                <button style="background-color: white; border: none;" type="submit" id="send"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></a>
            </div>
        </form>
    </div>
</div>

<div class="chat-bot-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square animate"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x "><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
</div>

<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script>
    let flag = true;
    $(document).ready(function () {
        $(".chat-bot-icon").click(function (e) {
            $(this).children('img').toggleClass('hide');
            $(this).children('svg').toggleClass('animate');
            $('.chat-screen').toggleClass('show-chat');
        });
        
        $('.end-chat').click(function () {
            $('.chat-body').addClass('hide');
            $('.chat-input').addClass('hide');
            $('.chat-session-end').removeClass('hide');
            $('.chat-header-option').addClass('hide');
        });
    });

    $('#chatbot-form').submit((e) => {
        e.preventDefault();
        let message = $('#message').val();

        if(message.length !== 0 && flag){
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    message: message
                })
            };

            $('.chat-body').append(`
                <div class="chat-bubble me">${message}</div>              
            `);

            $('#message').val("");

            $('.chat-body').append(`
                <div class="chat-bubble you loading">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto;display: block;shape-rendering: auto;width: 43px;height: 20px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="0" cy="44.1678" r="15" fill="#ffffff">
                                <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.6s"></animate>
                            </circle> <circle cx="45" cy="43.0965" r="15" fill="#ffffff">
                            <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.39999999999999997s"></animate>
                        </circle> <circle cx="90" cy="52.0442" r="15" fill="#ffffff">
                            <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.19999999999999998s"></animate>
                        </circle></svg>
                    </div>               
            `);

            flag = false;

            fetch('http://127.0.0.1:5000/chatbot', options)
                .then(response => response.json())
                .then(data =>{
                    $('.loading').html(`
                        ${data.res}                                     
                    `);

                    flag = true;
                })
                .catch(error => console.error(error));            
        }
    }
    )

    $('#info-chat-bot-form').submit(e => {
        e.preventDefault();
        if (document.getElementById('info-chat-bot-form').checkValidity()) {
            $('.chat-mail').addClass('hide');
            $('.chat-body').removeClass('hide');
            $('.chat-input').removeClass('hide');
            $('.chat-header-option').removeClass('hide');
        }
    });

</script>
</body>

</html>